/******************
* Global
*******************/
html,
body
{
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 100%;
    width: 100%;
}
html
{
    font-size: 16px;
}
body
{
    background: rgb(214, 214, 214);
}

/******************
* Top
*******************/
#top
{
    position: relative;
    height: 150px;
}
.top-bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 210px;
    overflow: hidden;
}
.top-bg>img
{
    width: 100%;
}
.top-title
{
    position: absolute;
    padding: 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
    max-height: 7.5rem;
    overflow: hidden;
    text-shadow: rgb(96, 169, 214) 2px 0 2px,rgb(96, 169, 214) 0 2px 2px,rgb(96, 169, 214) -2px 0 2px,rgb(96, 169, 214) 0 -2px 2px;
    color: #fff;
}
.top-title span:after
{
    content: '...';
}

/******************
* main
*******************/
#main
{
    padding: 0 1rem;
    position: relative;
    overflow-x: hidden;
    background-image: url('../images/bg.png');
}
#content
{
    /*transform: translateY(0px);*/
    width: 100%;
}
.cs-passage
{
    font-size: 1rem;
    border: rgb(96, 169, 214) solid 3px;
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 36px;
    background: #fff;
    margin: 0 0 1rem 15px;
    box-shadow: 0px 0px 15px #777;
    outline: none;
    position: relative;
    min-height: 60px;
}
.cs-passage-index
{
    position: absolute;
    top: 20px;
    left: -24px;
    height: 40px;
    width: 40px;
    background: #fff;
    text-align: center;
    line-height: 40px;
    border: rgb(96, 169, 214) solid 3px;
    border-radius: 24px;
    font-size: 1.6rem;
    color: rgb(96, 169, 214);
    box-shadow: 0px 0px 15px #777777;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.cs-passage-index.is-visible
{
    z-index: 5;
    opacity: 1;
}
.cs-passage-index.is-hidden
{
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0;
}
.cs-passage-text>div
{
    float: left;
}
.cs-passage-textarea
{
    padding-right: 5%;
    width: 80%;
}
.cs-passage-text-ctl
{
    width: 15%;
    text-align: center;
}
.cs-passage-text-ctl>div
{
    padding: 0.4rem 0;
    background: rgb(96, 169, 214);
    color: #fff;
    border-radius: 0.8rem;
}
.cs-passage-text-ctl .return
{
    margin-top: 1rem;
}
.cs-passage-input
{
    min-height: 4rem;
}
.cs-passage-count
{
    text-align: right;
    font-size: 1rem;
}
.cs-passage-option
{
    width: 50%;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: rgb(96, 169, 214);
    cursor: pointer;
}
.cs-passage-option .iconfont
{
    padding: 0 5px 0 0;
    font-size: 1.6rem;
}
.cs-passage-select-ctl>div
{
    float: right;
    padding: 0.4rem 1rem;
    background: rgb(96, 169, 214);
    color: #fff;
    border-radius: 0.8rem;
    text-align: center;
    margin-right: 1rem;
}
.cs-passage-select-ctl .ok
{
    margin-right: 0;
}
.cs-passage-select-list
{
    padding: 0 0 1rem 0;
}
.cs-passage-select-loading
{
    text-align: center;
}
.cs-passage-select-list-content
{
    /*max-height: 30rem;*/
    overflow: auto;
}
.cs-passage-select-list-item
{
    padding: 0.8rem;
    margin-bottom: 0.4rem;
    border: rgb(96, 169, 214) solid 1px;
    border-radius: 1rem;
}
.cs-passage-select-list-item.is-active
{
    background: rgb(96, 169, 214);
    color: #fff;
}
.cs-passage-select-loading.is-hidden
{
    display: none;
}
.cs-passage-select-msg
{
    text-align: center;
}

/******************
* iconfont
*******************/
@font-face {
    font-family: 'iconfont';
    src: url('./font/iconfont.eot'); /* IE9*/
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('./font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./font/iconfont.svg#./font/iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon-wenhao:before { content: "\e601"; }
.icon-dianji:before { content: "\e602"; }
.icon-caidan:before { content: "\e600"; }
.icon-iconspeak:before { content: "\e603"; }
